/jquery.qrcode.min.js
# https://github.com/jeromeetienne/jquery-qrcode/blob/7bb4e3df6d27e1969e870e88bfa64abdfab6de95/jquery.qrcode.min.js
/sqrd.py
# https://github.com/waidotto/strong-qr-decoder/blob/0e6f38ffcee68c95f5edd9a309cbdd9d77825aa4/sqrd.py
